@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App, button {
  font-family: Avenir, Futura, 'Courier New', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 350;
  line-height: 24px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  transition: font-size 0.5s;
}

.main {
  height: 80vh;
  width: 90vw;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  transition: width 0.3s; /* Slow down snap width change */
}

#sidebar, #content {
  height: 90%;
  box-sizing: border-box;
  border-radius: 10px;
}

#sidebar {
  background-color: white;
  width: fit-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 0;
  transition: transform 1s ease-in-out;
}

#content {
  background-color: var(--tomato);
  width: 70%;
  padding: 0px 20px;
  color: var(--offwhite);
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  text-align: left;
  overflow: auto;
  --scrollbarBG: transparent;
  --thumbBG: rgba(0, 0, 0, 0.2);
}

#content::-webkit-scrollbar {
  width: 8px;
}

#content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
#content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.link {
  color: white;
  color: var(--offwhite);
}

button {
  all: unset;
}

button.nav {
  display: block;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  margin: 5px 3px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

button.nav:hover {
  background-color: rgba(0, 81, 103, 0.2);
  transition: 0.3s ease-out;
}

button.nav:active {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s;
}

.nav-icn {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.newtab {
  margin-top: 6px;
  color: var(--offwhite);
}

.contentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-row {
  display: flex;
  align-items: center;
}

.card-row {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: baseline;
  flex-wrap: wrap;
}

.btn-redirect-round {
  all: unset;
  /* background-color: var(--offwhite); */
  background-color: var(--baby);
  /* color: var(--tomato); */
  color: var(--navy);
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9em;
  height: 2em;
  font-size: 10pt;
  font-weight: 800;
  /* filter: drop-shadow(0 0 3px rgba(0,0,0,0.5)); */
  transition: width 0.2s;
  transition: height 0.2s;
}

.btn-redirect-round:hover {
  /* background-color: aliceblue; */
  /* filter: drop-shadow(0 0 5px rgba(255, 255, 255,0.5)); */
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
  width: 10em;
  height: 2.5em;
  transition: width 0.2s;
  transition: height 0.2s;
}

.btn-redirect-round:active {
  filter: drop-shadow(0 0 0px rgba(0,0,0,0.5));
}


.btn-icons {
  /* color: var(--tomato); */
  color: var(--navy);
  height: 1.5em;
  width: 1.5em;
  margin: 5px;
}


/* Mobile Mode */
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  #sidebar {
    flex-direction: row;
    height: fit-content;
    width:90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  #sidebar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  #content {
    width: 90%;
  }

  .btn-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-row {
    flex-direction: column;
    align-items: center;
  }

  .btn-redirect-round {
    box-sizing: border-box;
    width: 90%;
    height: 2.5em;
    transition: width 0.2s;
  }

  .btn-redirect-round:hover {
    width: 90%;
  }

  .btn-redirect-round:active {
    width: 90%;
    height: 2.5em;
    background-color: rgba(194, 231, 255, 0.9);
    /* transition: width 0.2s; */
  }
}

@media screen and (max-width: 350px) {
  #name {
    font-size: 20pt;
    transition: font-size .5s;
  }
  
  .main {
    min-width: 320px; /* Stop shrinking */
  }
}