.App, button {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

:root {
  --tomato: #ff6347;
  --offwhite: #FFE6D9;
  --leather: #8D5243;
  --denim: #005167;

  color-scheme: light;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  height: 80vh;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  transition: width 0.3s; /* Slow down snap width change */
}

#sidebar, #content {
  height: 90%;
  box-sizing: border-box;
  border-radius: 10px;
}

#sidebar {
  background-color: white;
  width: fit-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 0;
}

#content {
  background-color: var(--tomato);
  width: 70%;
  color:#FFE6D9;
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  /* transition: width 2s;
  transition-delay: 0.3s; */
}

button.nav {
  display: block;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  margin: 5px 3px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

button.nav:hover {
  background-color: rgba(0, 81, 103, 0.2);
}

.nav-icn {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

/* Mobile Mode */
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  #sidebar {
    flex-direction: row;
    height: fit-content;
    width:90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  #sidebar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  #content {
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  #name {
    font-size: 20pt;
  }

  .main {
    min-width: 320px; /* Stop shrinking */
  }
}