@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700&display=swap');

.App, button {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Inter, serif;
  font-family: Avenir, serif;
  font-size: 16px;
  font-weight: 350;
  line-height: 24px;
}

:root {
  --tomato: #ff6347;
  --offwhite: #FFE6D9;
  --leather: #8D5243;
  --denim: #005167;

  color-scheme: light;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  all: unset;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  height: 80vh;
  width: 90vw;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  transition: width 0.3s; /* Slow down snap width change */
}

#sidebar, #content {
  height: 90%;
  box-sizing: border-box;
  border-radius: 10px;
}

#sidebar {
  background-color: white;
  width: fit-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 0;
  transition: transform 1s ease-in-out;
}

#content {
  background-color: var(--tomato);
  width: 70%;
  padding: 0px 20px;
  color: var(--offwhite);
  filter: drop-shadow(0 0 5px rgba(0,0,0,0.5));
  text-align: left;
  overflow: auto;
  --scrollbarBG: transparent;
  --thumbBG: rgba(0, 0, 0, 0.2);
}

#content::-webkit-scrollbar {
  width: 8px;
}

#content::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
#content::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.link {
  color: white;
  color: var(--offwhite);
}

button {
  all: unset;
}

button.nav {
  display: block;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  margin: 5px 3px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

button.nav:hover {
  background-color: rgba(0, 81, 103, 0.2);
  transition: 0.3s ease-out;
}

.nav-icn {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}

.newtab {
  margin-top: 6px;
  color: var(--offwhite);
}

.contentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn-row {
  display: flex;
  align-items: center;
}

.btn-row.column {
  flex-direction: column;
  align-items: baseline;
}

.btn-redirect-round {
  all: unset;
  background-color: var(--offwhite);
  color: var(--tomato);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9em;
  font-size: 10pt;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
}

.btn-redirect-round:hover {
  background-color: aliceblue;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255,0.5));
}

.btn-redirect-round:active {
  background-color: var(--tomato);
  color: var(--offwhite);
}

.btn-redirect-round:active>.nav-icn {
  color: var(--offwhite);
}

.btn-redirect-round>.nav-icn {
  color: var(--tomato);
  height: 15px;
  margin: 0px;
}


/* Mobile Mode */
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  #sidebar {
    flex-direction: row;
    height: fit-content;
    width:90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  #sidebar {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  #content {
    width: 90%;
  }

  .btn-row {
    flex-wrap: wrap;
  }

  .btn-row.column {
    /* justify-content: center; */
    align-items: center;
  }

  .btn-redirect-round {
    box-sizing: border-box;
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  #name {
    font-size: 20pt;
    transition: font-size .5s;
  }

  .main {
    min-width: 320px; /* Stop shrinking */
  }
}