
:root {
  all: unset; /* Reset all css */

  --tomato: #ff6347;
  --offwhite: #FFE6D9;
  --leather: #8D5243;
  --denim: #005167;
  --baby: #c2e7ff;
  --navy: #001d35;

  color-scheme: light;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}
